<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="dashboard-content">
  <h2>Dashboard</h2>
  <div class="statistics">
    <div class="statistic">
      <div class="statistic-icon">📊</div>
      <h3>Transaction Count</h3>
      <p class="statistic-value">{{ transactionCount }}</p>
    </div>
    <div class="statistic">
      <div class="statistic-icon">💰</div>
      <h3>Transaction Amount</h3>
      <p class="statistic-value">Rs.{{ transactionAmount }}</p>
    </div>
  </div>
</div>